body{
	font-size: 15px;
}

.home{
	padding-left: 15px;
	padding-right: 15px;
}

.sidebar{
	height: 100vh;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	top: 0;
	overflow-y: auto;
}
.sidebar a{
	width: 100%;
	display: inline-block;
	color: #fff;
}

.content{
	min-height: 100vh;
	padding: 20px;
}